*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url(../planets/bj.jpg);
	background-size: 100%;
}
#page{
	width: 70%;
	/*border: 1px solid red;*/
	height: 600px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -35%;
}
.wrap{
	position: relative;
	width: 80%;
	height: 40%;
	/*border: 1px solid blue;*/
	/**镜头在平面位置**/
	perspective-origin: 50% 50%;
	perspective: 1000px;
	/** X轴倾斜30度 **/
	transform: rotate(-30deg);
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 16%;
}
/**将所有的div置于3D空间**/
.wrap div{
	transform-style: preserve-3d;
}
.sun{
	width: 250px;
	/*height: 250px;*/
	/*border: 1px solid blue;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -125px;
	border-radius: 125px;
	animation: wrap-sun 25s infinite linear;
	z-index: 1;
}
/**太阳的div旋转起来**/
@keyframes  wrap-sun{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
.sun>.sunPlanet{
	/*width: 250px;*/
	height: 250px;
	background-image: url(../planets/sun.png);
	background-size: cover;
}
.mercury{
	width: 410px;
	/*height: 20px;*/
	/*border: 1px solid red;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -205px;
	/*transform: rotate(-30deg);*/
	animation: path-run-mercury 18s infinite linear;
	z-index: 2;
}
.mercury>.planet{
	width: 30px;
	height: 30px;
	background-image: url(../planets/mercury.png);
	background-size: cover;
	border-radius: 15px;
	/*border:1px dotted red;*/
	animation: planet-run-mercury 18s infinite linear;
}
.mars{
	width: 510px;
	/*height: 20px;*/
	/*border: 1px solid yellow;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -255px;
	/*transform: rotate(-30deg);*/
	animation: path-run-mars 20s infinite linear;
	z-index: 3;
}
.mars>.planet{
	width: 60px;
	height: 60px;
	background-image: url(../planets/mars.png);
	background-size: cover;
	/*border: 1px dotted yellow;*/
	border-radius: 30px;
	animation: planet-run-mars 20s infinite linear;
}
.venus{
	width: 610px;
	/*height: 20px;*/
	/*border: 1px solid blue;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -305px;
	/*transform: rotate(-30deg);*/
	animation: path-run-venus 30s infinite linear;
	z-index: 4;
}
.venus>.planet{
	width: 80px;
	height: 80px;
	background-image: url(../planets/venus.png);
	background-size: cover;
	/*border:1px dotted blue;*/
	border-radius: 40px;
	animation: planet-run-venus 30s infinite linear;
}
.earth{
	width: 710px;
	/*height: 20px;*/
	/*border: 1px solid blueviolet;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -355px;
	/*transform: rotate(-30deg);*/
	animation: path-run-earth 35s infinite linear;
	z-index: 5;
}
.earth>.planet{
	width: 100px;
	height: 100px;
	background-image: url(../planets/earth.png);
	background-position: center center;
	background-size: 105px 105px;
	/*background-size: cover;*/
	border: 1px dotted blueviolet;
	border-radius: 49px;
	animation: planet-run-earth 35s infinite linear;
}
.jupiter{
	width: 810px;
	/*height: 20px;*/
	/*border: 1px solid green;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -405px;
	/*transform: rotate(-30deg);*/
	animation: path-run-jupiter 50s infinite linear;
	z-index: 6;
}
.jupiter>.planet{
	width: 40px;
	height: 40px;
	background-image: url(../planets/jupiter.png);
	background-size: cover;
	/*border:1px dotted green;*/
	border-radius: 20px;
	animation: planet-run-jupiter 50s infinite linear;
}
/** 星体自己旋转 **/
@keyframes planet-run-earth{
	0%{
		transform: rotateY(0deg);
		box-shadow: -50px 0px 0px -50px black inset;
	}
	12.5%{
		box-shadow: -50px 0px 0px -20px black inset;
	}
	20%{
		box-shadow: -50px 0px 0px 0px black inset;
	}
	25%{
		box-shadow: -50px 0px 0px 50px black inset;
	}
	30%{
		box-shadow: -50px 0px 0px 0px black inset;
	}
	37.5%{
		box-shadow: -50px 0px 0px -20px black inset;
	}
	50%{
		transform: rotateY(-180deg);
		box-shadow: -50px 0px 0px -50px black inset;
	}
	62.5%{
		box-shadow: 50px 0px 0px 0px black inset;
	}
	74%{
		box-shadow: 50px 0px 0px 50px black inset;
	}
	75%{
		box-shadow: -50px 0px 0px 50px black inset;
	}
	87.5%{
		box-shadow: -50px 0px 0px -20px black inset;
	}
	100%{
		transform: rotateY(-360deg);
		box-shadow: -50px 0px 0px -50px black inset;
	}
}
@keyframes planet-run-mercury{
	0%{
		transform: rotateY(0deg);
		box-shadow: -15px 0px 0px -15px black inset;
	}
	12.5%{
		box-shadow: -15px 0px 0px -6px black inset;
	}
	20%{
		box-shadow: -15px 0px 0px 0px black inset;
	}
	25%{
		box-shadow: -15px 0px 0px 15px black inset;
	}
	30%{
		box-shadow: -15px 0px 0px 0px black inset;
	}
	37.5%{
		box-shadow: -15px 0px 0px -6px black inset;
	}
	50%{
		transform: rotateY(-180deg);
		box-shadow: -15px 0px 0px -15px black inset;
	}
	62.5%{
		box-shadow: 15px 0px 0px 0px black inset;
	}
	74%{
		box-shadow: 15px 0px 0px 15px black inset;
	}
	75%{
		box-shadow: -15px 0px 0px 15px black inset;
	}
	87.5%{
		box-shadow: -15px 0px 0px -6px black inset;
	}
	100%{
		transform: rotateY(-360deg);
		box-shadow: -15px 0px 0px -15px black inset;
	}
}
@keyframes planet-run-mars{
	0%{
		transform: rotateY(0deg);
		box-shadow: -30px 0px 0px -30px black inset;
	}
	12.5%{
		box-shadow: -30px 0px 0px -12px black inset;
	}
	20%{
		box-shadow: -30px 0px 0px 0px black inset;
	}
	25%{
		box-shadow: -30px 0px 0px 30px black inset;
	}
	30%{
		box-shadow: -30px 0px 0px 0px black inset;
	}
	37.5%{
		box-shadow: -30px 0px 0px -12px black inset;
	}
	50%{
		transform: rotateY(-180deg);
		box-shadow: -30px 0px 0px -30px black inset;
	}
	62.5%{
		box-shadow: 30px 0px 0px 0px black inset;
	}
	74%{
		box-shadow: 30px 0px 0px 30px black inset;
	}
	75%{
		box-shadow: -30px 0px 0px 30px black inset;
	}
	87.5%{
		box-shadow: -30px 0px 0px -12px black inset;
	}
	100%{
		transform: rotateY(-360deg);
		box-shadow: -30px 0px 0px -30px black inset;
	}
}
@keyframes planet-run-venus{
	0%{
		transform: rotateY(0deg);
		box-shadow: -40px 0px 0px -40px black inset;
	}
	12.5%{
		box-shadow: -40px 0px 0px -16px black inset;
	}
	20%{
		box-shadow: -40px 0px 0px 0px black inset;
	}
	25%{
		box-shadow: -40px 0px 0px 40px black inset;
	}
	30%{
		box-shadow: -40px 0px 0px 0px black inset;
	}
	37.5%{
		box-shadow: -40px 0px 0px -16px black inset;
	}
	50%{
		transform: rotateY(-180deg);
		box-shadow: -40px 0px 0px -40px black inset;
	}
	62.5%{
		box-shadow: 40px 0px 0px 0px black inset;
	}
	74%{
		box-shadow: 40px 0px 0px 40px black inset;
	}
	75%{
		box-shadow: -40px 0px 0px 40px black inset;
	}
	87.5%{
		box-shadow: -40px 0px 0px -16px black inset;
	}
	100%{
		transform: rotateY(-360deg);
		box-shadow: -40px 0px 0px -40px black inset;
	}
}
@keyframes planet-run-jupiter{
	0%{
		transform: rotateY(0deg);
		box-shadow: -20px 0px 0px -20px black inset;
	}
	12.5%{
		box-shadow: -20px 0px 0px -8px black inset;
	}
	20%{
		box-shadow: -20px 0px 0px 0px black inset;
	}
	25%{
		box-shadow: -20px 0px 0px 20px black inset;
	}
	30%{
		box-shadow: -20px 0px 0px 0px black inset;
	}
	37.5%{
		box-shadow: -20px 0px 0px -8px black inset;
	}
	50%{
		transform: rotateY(-180deg);
		box-shadow: -20px 0px 0px -20px black inset;
	}
	62.5%{
		box-shadow: 20px 0px 0px 0px black inset;
	}
	74%{
		box-shadow: 20px 0px 0px 20px black inset;
	}
	75%{
		box-shadow: -20px 0px 0px 20px black inset;
	}
	87.5%{
		box-shadow: -20px 0px 0px -8px black inset;
	}
	100%{
		transform: rotateY(-360deg);
		box-shadow: -20px 0px 0px -20px black inset;
	}
}
/**运动轨迹**/
@keyframes  path-run-mercury{
	0%{
		transform: rotateY(0deg);
		z-index: 2;
	}
	49%{
		z-index: 2;
	}
	50%{
		z-index: -2;
	}
	99%{
		z-index: -2;
	}
	100%{
		transform: rotateY(360deg);
		z-index: 2;
	}
}
@keyframes  path-run-mars{
	0%{
		transform: rotateY(0deg);
		z-index: 3;
	}
	49%{
		z-index: 3;
	}
	50%{
		z-index: -3;
	}
	99%{
		z-index: -3;
	}
	100%{
		transform: rotateY(360deg);
		z-index: 3;
	}
}
@keyframes  path-run-venus{
	0%{
		transform: rotateY(0deg);
		z-index: 4;
	}
	49%{
		z-index: 4;
	}
	50%{
		z-index: -4;
	}
	99%{
		z-index: -4;
	}
	100%{
		transform: rotateY(360deg);
		z-index: 4;
	}
}
@keyframes  path-run-earth{
	0%{
		transform: rotateY(0deg);
		z-index: 5;
	}
	49%{
		z-index: 5;
	}
	50%{
		z-index: -5;
	}
	99%{
		z-index: -5;
	}
	100%{
		transform: rotateY(360deg);
		z-index: 5;
	}
}
@keyframes  path-run-jupiter{
	0%{
		transform: rotateY(0deg);
		z-index: 6;
	}
	49%{
		z-index: 6;
	}
	50%{
		z-index: -6;
	}
	99%{
		z-index: -6;
	}
	100%{
		transform: rotateY(360deg);
		z-index: 6;
	}
}